{
    "presets": ["@babel/react", "@babel/env"],
    "plugins": [
        [
          "@babel/plugin-proposal-decorators",
          { "legacy": true }
        ],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-transform-runtime",
        "react-hot-loader/babel", // yarn add react-hot-loader@next -D
    ]
}
